*
!.zshrc
!.gitignore
!.yabairc


!.config/
.config/*
!.config/kitty
.config/kitty/*
!.config/kitty/kitty.conf


!.config/lvim
.config/lvim/*
!.config/lvim/config.lua


!.config/karabiner
.config/karabiner/*
!.config/karabier/karabiner.json
